{% extends 'core/base.html' %}
{% load cache %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="p-6 grid grid-cols-4 gap-4 bg-gray-100 rounded-xl">
        {% cache 30 sidebar %}
        <div class="col-span-1">
            <form action="{% url 'item:items' %}" method="get">
                <input class="w-full py-4 px-6 border rounded-xl" type="text" name="query" value="{{ query }}" placeholder="Find a bike, a chair or a car...">
                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>
            <hr class="my-6">
            <p class="font-semibold">Categories</p>
            <ul>
                {% if not categories %}
                <p>No items</p>
                {% endif %}
                {% for cat in categories %}
                <li class="py-2 px-2 rounded-xl {% if cat.id == cat_id %}bg-gray-200{% endif %}">
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ cat.id }}">{{ cat.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <hr class="my-6">
            <p class="font-semibold">Clear filters</p>
            <ul>
                <li>
                    <a href="{% url 'item:items' %}"
                       class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a>
                </li>
            </ul>
        </div>
        {% endcache %}
        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% if not items %}
                <p>No items</p>
                {% endif %}
                {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        {% if item.image.url is not None %}
                        <div><img src="{{ item.image.url }}" class="rounded-t-xl"></div>
                        {% else %}
                        <div class="rounded-t-xl">No image</div>
                        {% endif %}
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}